// Header

.top-nav {
  background-color: #2B78E4;
  border-bottom: 2px solid black;
  a {
    color: #fff;
  }
}

.top-navbar-brand {
  font-size: 30px;
}

.container {
  height:100%;
}


// Main

.main-left {
  padding-top: 100px;
  h2 {
    font-size: 42px;
  }
  li {
    font-size: 20px;
    margin-bottom: 18px;
  }
}

.main-right {
  margin-top: 10px;
  h1 {
    font-size: 50px;
  }
}