// Header

.top-nav {
  background-color: #2B78E4;
  border-bottom: 2px solid black;
  a {
    color: #fff;
  }
}

.top-navbar-brand {
  font-size: 30px;
  padding-top: 40px;
}

.top-nav-logged-out {
  min-height: 100px;
  .top-navbar-brand {
    font-size: 50px;
  }
  .container-fluid{
    height: 100px;
  }
}

.sign-in-logged-out{
  padding-top: 15px;
  color: white;
  font-size: 16px;
}


// Main

.main-left {
  padding-top: 100px;
  h2 {
    font-size: 42px;
  }
  li {
    font-size: 20px;
    margin-bottom: 18px;
  }
}

.main-right {
  margin-top: 10px;
  h1 {
    font-size: 50px;
  }
}



// Sign Up

.form-sex {
  font-size: 18px;
  font-style: bold;
}

.btn-sign-up {
  width: 100%;
  font-size: 30px;
}